<html>
<head>    
    <title>Vue Basics</title>    
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>    
</head>
<style>
    .canvas{
        width: 300px;
        height: 300px;
        margin-top: 20px;
        background: lightblue;
    }
</style>
<body>
    <h1>Vue Basics</h1>
    <div id="app">
        <h2>{{ title }}</h2>
        <button @click="logEvent">Log Event info</button>  
        <div class="canvas" @mousemove="logCoordinates">{{ coordinates.x }}, {{ coordinates.y }}</div>      
    </div>

    <script src="app.js"></script>
</body>
</html>