<html>
<head>    
    <title>Vue Basics</title>    
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>    
</head>
<body>

    <h1>Vue Basics</h1>
    <div id="app">
        <h2>{{ title }}</h2>
        <button @click.alt="logMessage">alt-click me</button>
        <button @click.shift="logMessage">shift-click me</button>
        <br>
        <a href="http://www.youtube.com" @click.prevent="logMessage">Yotube</a>
    </div>

    <script src="app.js"></script>
</body>
</html>


<!-- https://vuejs.org/v2/guide/events.html#Event-Modifiers -->