<template>
  <div id="app">    
    <h1>{{ title }}</h1>
    <Navbar />
    <AllFriends :friends="friends" @delete="deleteFriends"/> 
    <!--  :friends="friends" // esto es una prop, podriamos llamar el primer campo de otra forma, pero es mejor tener consistencia -->
    <OnlineFriends :friends="friends"/>
    <SuggestedFriends :suggesteds="suggesteds"/>
  </div>
</template>

<script>
import Navbar from './Navbar' //no hace falta la extención .vue
import AllFriends from './AllFriends'
import OnlineFriends from './OnlineFriends'
import SuggestedFriends from './SuggestedFriends'

export default {
  name: 'app',
  components:{
    Navbar: Navbar,
    OnlineFriends, //si el nombre es igual se puede dejar uno solo
    AllFriends,
    SuggestedFriends
  },
  data () {
    return {
      title: 'my first Vue App, hell yeah!',
      friends: [
        { name: 'mario', online:true },
        { name: 'carlos', online:false },
        { name: 'pedro', online:true },
        { name: 'luis', online:false }
      ], 
      suggesteds: [
        { name: 'Carla', location: 'Canada'},
        { name: 'Maria', location: 'USA'},
        { name: 'Laura', location: 'Italy'},
        { name: 'Emily', location: 'Argentina'}
      ]
    }
  },
  methods: {
    deleteFriends(payload){
      console.log(payload)
      this.friends = this.friends.filter(friend => {
        return friend.name !== payload.name
      })
    }
  }
}
</script>

<style>
h1{
  color: aquamarine;
  font-weight: normal;
  text-align: center;
}
</style>
