<template>
    <div id="suggested-friends">
        <h2>Suggested Friends</h2>
        <div v-for="(suggested, index) in suggesteds" :key="index">
            <span >{{suggested.name}} from {{suggested.location}}</span>
        </div>
    </div>
</template>

<script>
export default {
    name:"SuggestedFriends",
    props: ['suggesteds'],
    data (){
        return {}
    },
    mounted(){
        console.log(this.suggesteds)
    }
}
</script>

<style>

</style>