<html>
<head>    
    <title>Vue Basics</title>    
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>    
</head>
<body>

    <h1>Vue Basics</h1>
    <div id="app">
        <h2>{{ title }}</h2>
        <p v-if="showName">Mario</p>
        <p v-else-if="showAge">25</p>

        <button @click="toggleName">Show name: {{ showName }}</button>
        <button @click="toggleAge">Show Age: {{ showAge }}</button>
    </div>

    <script src="app.js"></script>
</body>
</html>