<html>
<head>    
    <title>Vue Basics</title>    
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>    
</head>
<body>

    <h1>Vue Basics</h1>
    <div id="app">
        <h2>{{ title }}</h2>

        <h4>Looping an array</h4>
       <ul>
           <li v-for="car in cars"> {{ car }}</li>
       </ul>
       
       <h4>Looping an object</h4>
       <div v-for="(ninja, index) in ninjas">
           <p>{{ index }} - {{ ninja.name }}</p>
           <p> Age: {{ ninja.age }}</p>
           <p> Belt: {{ ninja.belt }}</p>
           <hr>
       </div>      

    <script src="app.js"></script>
</body>
</html>