<html>
<head>    
    <title>Vue Basics</title>    
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <style>
        .one{
            color:green;
        }
        .two{
            text-decoration: line-through;
        }
    </style>
</head>
<body>
    <h1>Vue Basics</h1>
    <div id="app">
        <h2>{{ title }}</h2>
        <p>{{ greeting('night') }}</p> 
        <a v-bind:href="url">YouTube</a> 
        <div :class="classes" >Classes from instance</div>
        <input type="text" v-bind:value="name">
    </div>

    <!-- Se puede reemplaxar el "<a v-bind:href="url">YouTube</a>" 
    por el "<a :href="url">YouTube</a>" -->
    
    <script src="app.js"></script>
</body>
</html>
