<template>
  <div id="app">    
    <h1>{{ title }}</h1>
    <Navbar /> 
    <Blogs /> 
  </div>
</template>

<script>
import Navbar from './Navbar'
import Blogs from './Blogs'

export default {
  name: 'app',
  components:{
    Navbar: Navbar,
    Blogs
  },
  data () {
    return {
      title: 'my first Vue App, hel yeah!',
      
    }
  },
  methods: {
    
  }
}
</script>

<style>

</style>
