<html>
<head>    
    <title>Vue Basics</title>    
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>  
</head>
<body>
    <h1>Vue Basics</h1>
    <div id="app">
        <h2>{{ title }}</h2>
        <p>I earn {{ wage }} dollars per hour</p>
        <button @click="changeWage(1)">Increase wage by 1$</button>
        <button v-on:click="changeWage(-1)">Decrease wage by 1$</button>
        
        <hr/>

        <button v-on:dblclick="changeWage(5)">Increase wage by 5$</button>
        <button @dblclick="changeWage(-5)">Decrease wage by 5$</button>
        
    </div>

    <!-- Se puede reemplaxar el "<a v-bind:href="url">YouTube</a>" 
    por el "<a :href="url">YouTube</a>" -->
    
    <script src="app.js"></script>
</body>
</html>
